*.swp
target/
.vscode
xlsynth-g8r/fuzz/Cargo.lock
xlsynth-g8r/fuzz/corpus/
xlsynth-g8r/fuzz/artifacts/
xlsynth-pir/fuzz/Cargo.lock
xlsynth-pir/fuzz/corpus/
xlsynth-pir/fuzz/artifacts/
__pycache__
.pytest_cache
.ruff_cache
.idea/
Cargo.lock
xlsynth_tools/
slang
.venv
.spr.yml
