[workspace]
members = [
    "xlsynth",
    "xlsynth-sys",
    "xlsynth-mcmc",
    "xlsynth-mcmc-pir",
    "xlsynth-driver",
    "xlsynth-estimator",
    "xlsynth-g8r",
    "xlsynth-pir",
    "xlsynth-prover",
    "xlsynth-autocov",
    "sample-usage",
]
resolver = "2"
